.prompt {
  min-width: 0 !important;
}

.output_area > div.prompt {
  min-width: 4.6em !important;
}

.text_cell {
  > .prompt.input_prompt {
    padding: 0 !important;
  }
}

.cell.border-box-sizing.text_cell.rendered, .text_cell_render.border-box-sizing.rendered_html {
  padding: 0;
}

.highlight .mi {
  color: #080 !important
}

.highlight .nn {
  color: #000 !important;
  font-weight: normal !important;
}

.highlight .n {
  color: #000 !important;
}