body > header {
  background: $header-bg;

  .sitelogo {
    float: left;
    height: 77px;
    margin-top: 7px;
    margin-right: 14px;
  }

  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1.1em;
    color: $subtitle-color;
    font-weight: lighter;
  }
}
