body > header {
  background: $header-bg;

  .sitelogo {
    float:left;
    height: 52px;
    margin-top: 4px;
    margin-right: 14px;
  }

  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    @extend .sans;
    font-size: 1.1em;
    color: $subtitle-color;
  }

  @media only screen and (min-width: 768px) {
    .sitelogo {
      height: 60px;
      margin-top: 4px;
      margin-right: 14px;
    }
  }
  @media only screen and (min-width: 992px) {
    .sitelogo {
      height: 71px;
      margin-top: 6px;
      margin-right: 20px;
    }

    .h2 {
      margin: .2em 0 0;
    }
  }
}
