<p>
  {% if LICENSE %}
      {{ LICENSE }} 
  {% else %}
    {% set years = dates|groupby('date.year')|sort(reverse=False) %}
    {% set sinceYear = years|first|first|default('2014') %}
    {% set toYear = years|last|first|default('2014') %}
    Copyright &copy; {% if sinceYear == toYear %} {{ sinceYear }} {% else %} {{ sinceYear }}&ndash;{{ toYear }} {% endif%} {{ AUTHOR }} &mdash;
  {% endif %}
  <span class="credit">Powered by <a href="http://getpelican.com">Pelican</a>. The theme is based on the
  <a hred="https://github.com/duilio/pelican-octopress-theme">Octopress theme for Pelican</a> with adaptions inspired
  by <a href="http://themodernscientist.com">themodernscientist</a>.</span>
</p>
